# Dependencies
node_modules/
package-lock.json
yarn.lock

# Hardhat
cache/
artifacts/
typechain-types/

# Environment variables
.env

# Deployments
deployments/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Coverage
coverage/
coverage.json

# Build
dist/
build/
